/META-INF
/README
/README.txt
/VM_global_library.vm
/_macros.vm
/analysis-extras
/analytics
/assembly
/books_numeric_ids.csv
/cities-Intersects-BBox.txt
/clustering
/conf
/cryptokeys
/custom-mimetypes.xml
/data
/dih
/dihextras
/exampledocs
/extraction
/langid
/lib-dirs
/log4j.properties
/macros.vm
/mailing_lists.pdf
/morphlines-core.marker
/old-solr-example
/org
/overview.html
/runtimecode
/simple-Queries-BBox.txt
/solr
/solrj
/spellings.txt
/states-Intersects-BBox.txt
/states-IsWithin-BBox.txt
/test-documents
/test-morphlines
/uima
/velocity
