<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
		<typeAliases>
			<typeAlias type="com.mystring.pojo.Admin" alias="Admin"/>
			<typeAlias type="com.mystring.pojo.Employee" alias="Employee"/>
			<typeAlias type="com.mystring.pojo.Company" alias="Company"/>
			<typeAlias type="com.mystring.pojo.AdminOperaRecords" alias="AdminOperaRecords"/>
			<typeAlias type="com.mystring.pojo.Orders" alias="Orders"/>
		</typeAliases>
</configuration>
